node_modules/
docs/

# 测试覆盖率报告
coverage/
*.lcov

# 环境变量
.env
.env.local
.env.*.local
/.idea/

# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml